@page
@model IndexModel
@using ASPPortfolio.Models

@{
    ViewData["Title"] = "Developer Jonas";

}

<head>
    <script type="text/javascript" src="js/3dCube.js" ></script>
    <script type="text/javascript" src="js/darkmode.js" ></script>
    <script type="text/javascript" src="js/headerscroll.js" ></script>
</head>


<label  class="switch">
  <input onclick="darkmode();" type="checkbox">
  <span class="slider round"></span>
</label>

<main>
  <section id="intro">

    <canvas id="backdrop">
    </canvas>
    <div id="backdrop">
      <div class="stack_img">
      <img src="images/csharp_original_logo_icon_146578.svg">
      </div>
      <div class="stack_img">
      <img src="images/asp-svgrepo-com.svg">    
      </div>
      <div class="stack_img">
      <img src="images/html-5-logo-svgrepo-com.svg">    
      </div>
      <div class="stack_img">
      <img src="images/css3-logo-svgrepo-com.svg">    
      </div>
      <div class="stack_img">
      <img src="images/javascript-svgrepo-com.svg">    
      </div>
      <div class="stack_img">
      <img src="images/jquery-svgrepo-com.svg">    
      </div>
      <div class="stack_img">
      <img src="images/sqlite-svgrepo-com.svg">    
      </div>
      <div class="stack_img">
      <img src="images/nginx_original_logo_icon_146413.svg">
      </div>
    </div>
<pre class="intro">
<span>Hi, My name is</span>
<span></span><span>Jonas Issa</span>
<span>I Develop</span> <div class="rectwrapper intro" id="rectw">        
    <div class="face">Robots</div>
    <div class="face">Websites</div>
    <div class="face ">Servers</div>
    <div class="face">Software</div>
  </div>
</pre>
    <partial name="_Contact" />
  </section>
</main>

<section class="section-format" id="about">
<div class="section-header-wrapper"><h1 class="section-header">About Me</h1></div>
<div class="content-wrapper"><div class="about-content"><div class="img-wrap"><img src="images/profile.jpeg"></img>Felsensteg Birg · Lauterbrunnen, Switzerland (2022)</div>Hi, I'm a Software Developer from Sydney.
I have been coding for the better part of a decade.

I am highly detail–focused and enjoy performing a mixture of practical work.

My core specialties in my professional career differentiate vastly from Software, 3D Modeling, Metal machining and fabricating Prosthetic limbs.
</div>
</div>
</section>

<section class="section-format" id="projects">
  <div class="section-header-wrapper"><h1 class="section-header">Projects</h1></div>
    <div class="content-wrapper" style="padding-bottom: 5px;">
<div>
      <a class="prev" onclick="plusSlides(-1)">❮ </a>

      <a class="next" onclick="plusSlides(1)">❯ </a>
</div>

@{
    @foreach (var record in @Model.objects)
    {
      <div class="project-wrapper fade-right" style="display:flex">
        <div class="project-content"><div style="padding: 5%">@record.Preface<a href=@record.ExtLink target="_blank" rel="noopener noreferrer">@record.Title</a>

@record.Description
</div>
</div>
<div class="project-content-img"><img src="images/{@record.Inc}.jpeg"></img>
</div>      
</div>

    }
    
}

</div>
      <div style="text-align:center">

@{

    @foreach (var record in @Model.objects)
    {
          <span class="dot" onclick="currentSlide(@record.Inc)"></span> 
    }
}
      </div>

</section>


<section class="section-format" id="skills">
  <div class="section-header-wrapper"><h1 class="section-header">Skills</h1></div>

  <div class="content-wrapper">

    <div class="skills-wrapper">

      <div class="skills-content">

        <li class="skills-list">

          <div>
            <h1>Languages:</h1>
C#
ASP.NET
Python
Javascript
          </div>          
          <div>
            <h1>Scripting:</h1>
Linux Bash
Windows Batch
          </div>
          <div>
            <h1>Tools:</h1>
Arch Linux
Raspberry Pi
Git
Jupyter
NGINX
Django
GUnicorn
          </div>
        </li>
        </div>
      </div>
      </div>

</section>
</main>
    <script type="text/javascript" src="js/slideshow.js" ></script>
    <script type="text/javascript" src="js/bubbles.js"  ></script>
