@page
@model IndexModel
@using ASPPortfolio.Models

@{
  ViewData["Title"] = "Developer Jonas";
}

@section scripts {
  <script type="text/javascript" src="wwwroot/js/3dCube.js" asp-append-version="true"></script>
  <script type="text/javascript" src="wwwroot/js/slideshow.js" asp-append-version="true"></script>
  <script type="text/javascript" src="wwwroot/js/bubbles.js" asp-append-version="true"></script>
}
@section styles {
  <link rel="stylesheet" href="wwwroot/css/3dCube.css" />
  <link rel="stylesheet" href="wwwroot/css/About.css" />
  <link rel="stylesheet" href="wwwroot/css/Apps.css" />
  <link rel="stylesheet" href="wwwroot/css/Intro.css" />
  <link rel="stylesheet" href="wwwroot/css/Project-Slideshow.css" />
  <link rel="stylesheet" href="wwwroot/css/Projects.css" />
  <link rel="stylesheet" href="wwwroot/css/Sections.css" />
  <link rel="stylesheet" href="wwwroot/css/Skills.css" />
}

<main>
  <section id="intro">
    <img id="background_svg"></img>
    @* <partial name="Components/BubbleStack" /> *@
<pre class="intro">
<span>Hi, My name is</span>
<span></span><span>Jonas Issa</span>
<span style="width:min-content">I Develop</span> <partial name="Components/3dCube"/>
</pre>
  </section>
</main>

<div id="Content">
  <custom-section id="about" header="About Me">
    <div class="about-content">
      <div class="img-wrap">
        <img src="wwwroot/images/profile.jpeg"></img>
Felsensteg Birg · Lauterbrunnen, Switzerland (2022)
      </div>
Hi, I'm a Software Developer from Sydney.
I have been coding for the better part of a decade.

I am highly detail–focused and enjoy performing a mixture of practical work.

My core specialties in my professional career differentiate vastly from Software, 3D Modeling, Metal machining
and fabricating Prosthetic limbs.
    </div>
  </custom-section>

  <custom-section id="projects" header="Projects">
    <div>
      <a class="prev" onclick="plusSlides(-1)">❮ </a>
      <a class="next" onclick="plusSlides(1)">❯ </a>
    </div>
    @foreach (var record in @Model.objects)
    {
      <ProjectItem title="@record.Title" preface="@record.Preface" description="@record.Description"
        ext-link="@record.ExtLink" img-src="asp/wwwroot/images/projectImages/{@record.Inc}.jpeg"></ProjectItem>
    }
    <div style="text-align:center">
      @foreach (var record in @Model.objects)
      {
        <span class="dot" onclick="currentSlide(@record.Inc)"></span>
      }
    </div>
  </custom-section>

  <section class="section-format" id="skills">
    <div class="section-header-wrapper">
      <h1 class="section-header">Skills</h1>
    </div>

    <div class="content-wrapper">

      <div class="skills-wrapper">

        <div class="skills-content">

          <li class="skills-list">

            <div>
              <h1>Languages:</h1>
              C#
              ASP.NET
              Python
              Javascript
            </div>
            <div>
              <h1>Scripting:</h1>
              Linux Bash
              Windows Batch
            </div>
            <div>
              <h1>Tools:</h1>
              Arch Linux
              Raspberry Pi
              Git
              Jupyter
              NGINX
              Django
              GUnicorn
            </div>
          </li>
        </div>
      </div>
    </div>

  </section>
</div>
</main>
